<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang chi tiết sản phẩm</h1>
    <p>
      Trang này hiển thị thông tin chi tiết về sản phẩm, bao gồm mô tả, hình
      ảnh, giá cả và các thông tin liên quan khác.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="square-image">
              <img
                src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
                class="product-image"
                alt="Product Image"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_82e48e1cabd2abb3a07ac0ecc35034f9.webp"
                class="product-image"
                alt="Product Image"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
                class="product-image"
                alt="Product Image"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
                class="product-image"
                alt="Product Image"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
                class="product-image"
                alt="Product Image"
              />
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row">
        <div class="thumbnail-container">
          <div class="thumbnail-item active">
            <img
              src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
              class="product-image"
              alt="Product Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_82e48e1cabd2abb3a07ac0ecc35034f9.webp"
              class="product-image"
              alt="Product Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
              class="product-image"
              alt="Product Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_82e48e1cabd2abb3a07ac0ecc35034f9.webp"
              class="product-image"
              alt="Product Image"
            />
          </div>
          <div class="thumbnail-item">
            <img
              src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
              class="product-image"
              alt="Product Image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h2>Thông tin chi tiết sản phẩm</h2>
        <p>Mô tả sản phẩm</p>
        <p class="product-price">Giá: <del>29.990.000đ</del> 27.990.000đ</p>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
        <div class="product-quantity">
          <div class="border-wrapper">
            <button>-</button>
            <input type="text" value="1" />
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
