<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang home</h1>
    <p>Trang này hiển thị ds các sản phẩm và kèm ảnh.</p>
    <p>Bạn có thể chọn sản phẩm và mua hàng tại đây</p>
  </div>
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm kiếm sản phẩm"
    />
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option value="">Đồ điện tử</option>
      <option value="">Bánh kẹo</option>
      <option value="">Hải sản</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
          class="product-image"
          alt="Product Image"
        />
        <h3 class="product-name">
          Macbook Air M3 13inch 16GB 512GB chính hãng
        </h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="product-awarranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>29.990.000đ</del> 27.990.000đ</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
          class="product-image"
          alt="Product Image"
        />
        <h3 class="product-name">
          Macbook Air M3 13inch 16GB 512GB chính hãng
        </h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="product-awarranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>29.990.000đ</del> 27.990.000đ</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
          class="product-image"
          alt="Product Image"
        />
        <h3 class="product-name">
          Macbook Air M3 13inch 16GB 512GB chính hãng
        </h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="product-awarranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>29.990.000đ</del> 27.990.000đ</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
          class="product-image"
          alt="Product Image"
        />
        <h3 class="product-name">
          Macbook Air M3 13inch 16GB 512GB chính hãng
        </h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="product-awarranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>29.990.000đ</del> 27.990.000đ</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
          class="product-image"
          alt="Product Image"
        />
        <h3 class="product-name">
          Macbook Air M3 13inch 16GB 512GB chính hãng
        </h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="product-awarranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>29.990.000đ</del> 27.990.000đ</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
