<app-header></app-header>

<div class="container">
  <div class="intro-section">
    <h1>Đây là trang chi tiết sản phẩm</h1>
    <p>
      Trang này hiển thị thông tin chi tiết về sản phẩm, bao gồm mô tả, hình
      ảnh, giá cả và các thông tin liên quan khác.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="square-image">
              <img
                src="https://ttcenter.com.vn/uploads/photos/1711008268_2707_2c49cf282b3b54f075189f3da1553598.webp"
                class="product-image"
                alt="Product Image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<app-footer></app-footer>
