<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="register-form mx-auto">
        <h2 class="register-header">Đăng kí</h2>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" />
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group password-field">
          <label for="password">Mật khẩu</label>
          <input type="password" class="form-control" id="password" />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group password-field">
          <label for="confirm-password">Xac nhận mật khẩu</label>
          <input type="password" class="form-control" id="confirm-password" />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group">
          <label for="name">Họ và tên</label>
          <input type="text" class="form-control" id="name" />
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input type="text" class="form-control" id="address" />
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group">
          <div class="form-check checkbox-text">
            <span style="display: flex">
              <input type="checkbox" class="form-check-input" id="remember" />
              <label class="form-check-label text-start" for="remember"
                >Tôi đồng ý với các điều khoản và điều kiện</label
              >
            </span>
          </div>
        </div>

        <div class="form-group">
          <div>
            <button type="button" class="register-button">Đăng kí</button>
            <div class="divider"></div>
            <div class="text-center">
              <a href="#" class="register-link">Đăng nhập</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
